<%- include ('./includes/head.ejs') %>
<main>
    <div>
      
     <ul>
      
      <% topicsObj.forEach(function(topic){ %>
     <li> <%= topic %></li>
     <li class="list-none">
         <ul>
          <% connectionsObj.forEach(function(item){ %> <% if(item.topic ==
            topic){ %>
           <li> <a href="/connection?connectionID=<%=item.connectionId%>"> <%= item.name %></a></li>
           
           <% }}); %>
         </ul>
     </li>
     <% }  ) %>
      
     </ul>
    </div>

</main>
<%- include ('./includes/end.ejs') %>