<%- include ('./includes/head.ejs') %>
<main>
    <div class="table-heading">
        <p><%=name%> Choices</p>
    </div>
    <% if (connection!=null &&  connection.length>0) { %>
    <table>
      <tr>
        <th>Event Name</th>
        <th>Category</th>
        <th>Choice</th>
        <th></th>
      </tr>
      
      <% connection.forEach(function(item){ %>
      <tr>
        <td><%= item.connection.name %></td>
        <td><%= item.connection.topic %></td>
        <td><%= item.rsvp %></td>
        
        <td>
          
    <form action="/connection?" >
       
      <input type="hidden" name="connectionID" value="<%= item.connection.connectionId %>" />  
      <input type="hidden" name="action" value="update" />
        <button type="submit" class="button-sconnection-update" >Update</button>
    </form>
    
     <form action="/savedConnections?" >    
      <input type="hidden" name="action" value="delete" />  
      <input type="hidden" name="connectionId" value="<%= item.connection.connectionId %>" />  
         <button type="submit" class="button-sconnection-delete" >Delete</button>
     </form>
     </td>
      </tr>

      <% });%>
      
    </table>
    <%}else{%>
      <p>You do not have any events RSVP'ed to right now.....</p>
      <%}%>
    </main>
    <%- include ('./includes/end.ejs') %>